/* CSS file for Admin.html. */

body {
  margin-top: 15px;
  margin-left: 50px;
  margin-right: 50px;
  background-color: LightGreen;
}

h2 {
  text-align: left;
}

h2.err {
  color: red;
}

p {
  padding-left: 25px;
}

span#svyUser, span#svyCodeTxt {
  text-align: left;
  color: blue;
}

div#svy_page_hdr {
  width: 790px;
  border: 1px solid black;
  background-color: #F2F2F2;
  padding: 5px;
  text-align: center;
  font-weight: bold;
}
div#svyHdrDataDiv, div#svyDtlDataDiv {
  width: 800px;
  height: 153px;
  border: 1px solid black;
  background-color: #DCDCDC;
  color: black;
}
div#svyDtlDataDiv {
	height: 353px;
}
div#svyHdrHdrDiv, div#svyDtlHdrDiv {
  width: 800px;
  height: 20px;
  border: none;
  background-color: yellow;
  color: black;
}
table#svyHdrHdrTbl, table#svyDtlHdrTbl {
  width: 800px;
  background-color: blue;
  color: white;
  text-align: center;
  font-style: bold;
  border-collapse: collapse;
}

td {
  position: relative;
}

.ck1, .dk1 {
  width: 30px;
  text-align: center;
}
.h_c2, .h_c2s {
  width: 100px;
}
.h_ro, .h_ros {
  width: 70px;
}
.h_c4, .h_c4s {
  width: 50px;
}
.h_c5, .h_c5s {
  width: 50px;
}
.h_c6, .h_c6s {
  width: 100px;
}
.h_c7, .h_c7s {
  width: 250px;
}
.h_c8, .h_c8s {
  width: 50px;
}

/* Detail Table Cell Classes */
.d_c2, .d_c2s {
  width: 30px;
}
.d_c3, .d_c3s {
  width: 50px;
}
.d_c4, .d_c4s {
  width: 70px;
}
.d_c5, .d_c5s {
  width: 300px;
}
.d_c6, .d_c6s {
  width: 50px;
}
.d_c7, .d_c7s {
  width: 30px;
}
.d_c8, .d_c8s {
  width: 30px;
}
.d_c9, .d_c9s {
  width: 50px;
}
.d_c10, .d_c10s {
  width: 50px;
}
.d_c11, .d_c11s {
  width: 50px;
}
div#svyHdrTblDiv, div#svyDtlTblDiv {
  height: 103px; /* Needs to be 50px less than div#svyHdrDataDiv */
  width: 800px;
  background-color: #DCDCDC;
  border: none;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}
div#svyDtlTblDiv {
	height: 303px; /* Needs to be 50px less than div#svyDtlDataDiv */
}
table#svyHdrTblBody, table#svyDtlTblBody {
  width: 800px;
  background-color: #DCDCDC;
  border-spacing: 3px;
}
input[class*="_c"], input[class*="_ro"] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  padding: 0%;
  border: none;
  text-indent: 0.5em;
  background-color: #F2F2F2;
}
input[class*="_c"]:hover {
  background-color: white;
}
input[class*="_c"]:focus {
  background-color: white;
}
input[class$="s"] {
  background-color: lightcyan;
}

.stdBtn {
  color: #000000;
  background: #DCDCDC;
  border: 1px solid transparent;
  padding: 2px 5px 2px 5px;
  text-align: center;
  font-weight: bold;
}

.stdBtn: active {
  background: lightcyan;
  border: 1px solid rgba(0, 0, 0, 1);
}

.stdBtn:hover:not([disabled]) {
  background: #F2F2F2;
  /* border: 1px solid rgba(0, 0, 0, 1); */
}

.stdBtn[disabled] {
  color:rgb(100, 100, 100);
  /* border: 1px solid transparent; */
  cursor: default;
}

div#hdrTblBtnDiv, div#dtlTblBtnDiv {
  /* margin-top: 10px; */
  width: 760px;
  height: 20px;
  border: none;
  margin-left: 30px;
  background-color: #DCDCDC;
  color: black;
  padding: 5px;
}

div.status {
  width: 790px;
  border: 1px solid black;
  background-color: yellow;
  padding: 5px;
}