/* CSS file for login.html. */

body {
  margin-top: 15px;
  margin-left: 50px;
  background-color: #F2F2FF;
}

table, th, td {
  border: 1px solid black;
  text-align: center;
}

table {
  border-collapse: collapse;
}

th {
  background-color: blue;
  color: white;
}

h2 {
  text-align: left;
}

h2.err {
  color: red;
}

p {
  padding-left: 25px;
}

#inpDiv.hidden {
	display: none;
	visibility: hidden;
}
#inpDiv.visible {
	display: block;
	visibility: visible;
}

#navBtnDiv.hidden {
	display: none;
	visibility: hidden;
}
#navBtnDiv.visible {
	display: block;
	visibility: visible;
}